#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define LSYM  1
#define LNAV  2
#define LFUN  3
#define ADJ  4

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
    combos {
            compatible = "zmk,combos";
            combo_esc {
                timeout-ms = <50>;
                key-positions = <22 23>;
                bindings = <&kp ESC>;
            };
            combo_del {
                timeout-ms = <50>;
                key-positions = <26 27>;
                bindings = <&kp DEL>;
            };
            combo_tvp {
                timeout-ms = <100>;
                key-positions = <1 2 3>;
                bindings = <&tog ADJ>;
            };
            combo_scrolup {
                timeout-ms = <50>;
                key-positions = <6 7>;
                bindings = <&msc SCRL_UP>;
                layers = <LNAV>;
            };
            combo_scroldown {
                timeout-ms = <50>;
                key-positions = <16 17>;
                bindings = <&msc SCRL_DOWN>;
                layers = <LNAV>;
            };

    };
    behaviors {
      hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <220>;
        quick_tap_ms = <200>;
        flavor = "balanced";
        bindings = <&kp>, <&kp>;
      };

    // using &hlt instead of &lt. It enables quick tap
      hlt: homerow_layers {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_LAYERS";
        #binding-cells = <2>;
        tapping-term-ms = <220>;
        quick_tap_ms = <200>;
        flavor = "balanced";
        bindings = <&mo>, <&kp>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
        label= "BASE";
        bindings = <

                &kp Q       &kp W         &kp E                &kp R                 &kp T              &kp Y         &kp U          &kp I        &kp O         &kp P
                &hm LALT A  &hm LCTRL S   &hm LSHIFT D         &hm LGUI F            &hm LALT G         &hm RALT H    &hm RGUI J     &hm RSHIFT K &hm RCTRL L   &hm RALT SEMI
                &kp Z       &kp X         &kp C                &kp V                 &kp B              &kp N         &kp M          &kp COMMA    &kp DOT       &kp FSLH
                                                               &hlt LSYM SPACE       &hlt LFUN TAB      &kp ENTER     &hlt LNAV BSPC
                        >;
                };


        sim_layer {
        label= "LSYM";
        bindings = <
                &kp GRAVE   &kp AT        &kp LEFT_BRACE       &kp RIGHT_BRACE       &kp PLUS                 &kp PIPE      &kp PERCENT    &caps_word    &kp SQT       &kp BSLH
                &kp CARET   &kp DOLLAR    &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp ASTERISK             &kp AMPERSAND &kp EQUAL      &kp EXCL      &kp DQT       &kp COLON
                &kp PERCENT &kp TILDE     &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &kp MINUS                &kp HASH      &kp UNDERSCORE &kp LESS_THAN &kp GREATER_THAN &kp FSLH
                                                               &trans                &trans                   &trans      &trans
                        >;
                };


        nav_layer {
        label= "NAV";
        bindings = <

                &trans      &kp RC(UP)    &kp RC(LEFT)         &kp RC(RIGHT)         &kp PLUS                 &kp HOME        &kp PG_DN    &kp PG_UP      &kp END          &trans
                &trans      &kp RC(DOWN)  &kp LS(LG(LBKT))     &kp LS(LG(RBKT))      &kp ASTERISK             &kp LEFT        &kp DOWN     &kp UP         &kp RIGHT        &mkp RCLK
                &trans      &trans        &kp LS(LG(GRAVE))    &kp LG(GRAVE)         &kp MINUS                &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT  &mkp LCLK
                                                               &trans                &trans                   &trans          &trans
                        >;
                };





        function_layer {
        label= "FUN";
        bindings = <

                &trans      &kp RC(UP)    &kp RC(LEFT)         &kp RC(RIGHT)         &kp PLUS                 &trans        &kp N7      &kp N8       &kp N9      &trans
                &trans      &kp RC(DOWN)  &kp LS(LG(LBKT))     &kp LS(LG(RBKT))      &kp ASTERISK             &trans        &kp N4      &kp N5       &kp N6      &trans
                &trans      &trans        &kp LS(LG(GRAVE))    &kp LG(GRAVE)         &kp MINUS                &kp N0        &kp N1      &kp N2       &kp N3      &kp BSLH
                                                               &trans                &trans                   &trans        &trans
                        >;
                };


        adj {
            bindings = <
            &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_CLR_ALL                                  &kp C_SLEEP     &trans          &trans          &kp C_BRI_DN    &kp C_BRI_UP
            &studio_unlock  &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &kp C_VOL_DN    &kp C_VOL_UP
            &bootloader     &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &bootloader
                                                                            &trans          &trans          &trans          &trans
            >;
        };
    };
};

